*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'PT Serif', serif;
    text-decoration: none;
}
/* INDEX media 1 */
@media only screen and (min-width: 0px) and (max-width: 599px) {
    /* header */
    header {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .logo{
        margin-top: 40px;
    }
    .linkinicio {
        text-decoration: none;
    }
    header .titulo a h1 {
        list-style: none;
        color: #474747;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2rem;
        margin-bottom: 40px;
        margin-top:40px;
    }
    .navegador{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 40px;
        align-items: center;
        background-image: url(../imagenes/woodbackgound.jpg);
        position:sticky;
        top:0px;
    }
    .navegador nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .navegador nav ul li,.navegador nav ul li a {
        font-family:'Inter', sans-serif;
        font-size: 0.8rem;
        list-style: none;
        color: #7C7C7C;
    }
    /*media1 main */
    body {
        background-color:#7C7C7C;
    }
    .imagenfondo {
        display: flex;
        width: 100vw;
        height: 35vh;
    
    }
    .imagenfondo img{
        width: 100%;
        height: 100%;
    }
    .titulosegundo{
        color: white;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-family: 'Jost', sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin: 80px 0px 0px  0px;
    }
    /* Tarjetas */
    .novedades{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        margin-bottom: 15px;
    }
    .novedades div{
        width: 100%;
        height:100%;
    }
    .novedades div article {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin: 15px 15px 15px 15px;
        border-style:none;
        box-shadow: 8px 8px 20px #474747;
        background-color: #CBCBCB;
        -webkit-border-top-left-radius: 15px; 
        -webkit-border-bottom-right-radius: 15px;
    }
    .novedades div article img {
        width:100%;
        height:100%;
        -webkit-border-top-left-radius: 15px; 
        -webkit-border-bottom-right-radius: 15px;
    }

    .articuloDiseno article h3 {
        text-transform: uppercase;
        font-family:'Jost', sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        text-align: center;
        color: #EF7F1A;
        margin-top:20px;        
    }
    .articuloDiseno article span a{
        text-transform: uppercase;
    }
    .articuloDiseno article span a, .articuloDiseno article p {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 1rem;
        text-align: center;
        width: 100%;
        letter-spacing: 0.5px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        font-family:'Jost', sans-serif;
    }
    .articuloDiseno article span a {
        color: #474747;
    }
    .articuloDiseno article p{
        padding:20px;
    }

    .navigate-solid.icon {
        color: #000;
        position: absolute;
        margin-left: 6px;
        margin-top: -1px;
        width: 14px;
        height: 18px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    .icono{
        position: relative;
        left:30%;
        top:8px;
    }
    .navigate-solid.icon:before {
        content: '';
        position: absolute;
        left: 0;
        top: -17px;
        width: 0;
        height: 0;
        border-top: solid 18px transparent;
        border-bottom: solid 18px currentColor;
        border-left: solid 7px transparent;
        border-right: solid 7px transparent;
    }
    .navigate-solid.icon:after {
        content: '';
        position: absolute;
        left: 0;
        top: 9px;
        width: 0;
        height: 0;
        color: white;
        border-top: solid 5px transparent;
        border-bottom: solid 5px currentColor;
        border-left: solid 7px transparent;
        border-right: solid 7px transparent;
    }
    #footer{
        background-color: #5DC1B9;
        display: flex;
        height: 35vh;
        justify-content: center;
        align-items: center;
    }
    #footer ul{
        list-style: none;
    }
    #footer ul li{
        list-style: none;
    }
    #footer ul li h4{
        font-family: 'Jost', sans-serif;
        text-transform: uppercase;
        color:white;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 300;
        text-align: center;
    }
}

/* INDEx media 2 */
@media only screen and (min-width: 600px) and (max-width: 1199px)
{
header {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 20vh;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.navegador nav ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    margin-left: 6px;
    margin-right: 6px;
    justify-items: center;
}
.navegador nav ul{
    font-size: 0.9rem;
}
.linkinicio {
    text-decoration: none;
}
header .titulo a h1{
    font-size: 2.5rem
}
header .titulo a h1, .navegador nav ul li,.navegador nav ul li a {
    list-style: none;
    text-decoration: none;
    color: #474747;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imagenfondo {
    display: flex;
    
}
}


/* HISTORIA  */

main .tituloDePagina, .subtituloDePagina {
    text-transform: uppercase;
    color: #EF7F1A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px;
}
section article div p{
    color: #474747;
    text-align: justify;
    font-size: 1rem;
    margin: 15px;
}
div .linkContacto a {
    text-decoration: none;
    text-align: center;
    color: #5DC1B9;
}
 /* CONTACTO  */
section article ul {
    list-style: none;
}
section article ul li {
    color: #5DC1B9;
    font-size: 0.87rem;
    text-transform:uppercase;
    margin: 15px;
}
form div input, .textArea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 0.87rem;
    margin: 15px;
}

/* GALERIA  */
section article .subtitulo {
    text-transform: uppercase;
    color: #474747;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px;
    font-size: 1.5rem;
}
section article .disenoSubtitulo, p{
color: #474747;
font-size: 1rem;
}
section article div a{
    font-size: 1.2;
    text-decoration: none;
    color: #5DC1B9;
}
/* LISTA DE PRECIOS  */
.promo{
color: #474747;
margin: 15px;
}
.clickHere {
    text-decoration: none;
    color: #5DC1B9;
}
section article div table, th {
    background-color: #474747;
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 100;
    letter-spacing: 1px;
}
section article div table{ 
    margin: 15px;
}


