*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'PT Serif', serif;
    text-decoration: none;
}

/* INDEX media 1 */
@media only screen and (min-width: 0px) and (max-width: 599px) {
/* header */
header {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3,30%, 35%, 35%);
    grid-template-rows: repeat(2,6vh);
    justify-items: center;
    align-items: center;
}
.logo{
    grid-column:2/span 3;
    grid-row: 1;
    margin-top: 15px;
}
.logo img{
    width: 131px;
    height: 52px;
}
.titulo{
    grid-column:2/span 3;
    grid-row: 2;
}
.navegador{
    grid-column:1;
    grid-row: 1/span 2;
    background-color: #EF7F1A;
}
.linkinicio {
    text-decoration: none;
}
header .titulo a h1{
    font-size: 1.3rem ;
    list-style: none;
    color: #474747;
    font-family: 'Secular One', sans-serif;
    font-weight: 300;
}
.navegador nav{
    height: 100%;
    width: 100%;
}
.navegador nav ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.navegador nav ul li{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 3px;
}
.navegador nav ul li,.navegador nav ul li a {
    font-family:'Inter', sans-serif; ;
    font-size: 0.7rem;
    list-style: none;
    color:white;
    font-weight: 100;
}
/* no me aplica hover */
.navegador nav ul li a:hover {
    transform: scale(1);
    color: #474747;
    box-shadow: 3px 3px 10px 0px #FFFFFF;
    
}


/*media1 main */
.imagenfondo {
    display: flex;
    width: 100vw;
    height: 35vh;

}
.imagenfondo img{
    width: 100%;
    height: 100%;
}
.titulo{
    color: #0d656d;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0px 15px  0px;
}
/*  */
.novedades{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45vh;
    margin-bottom: 15px;
}
.novedades div{
    width: 100%;
    height:100%;
}
.novedades div article {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 15px 15px 15px 15px;
    background-color: #7a7a7a7c;
    border-style:outset;
    box-shadow: 8px 8px 20px #474747;
}
.novedades div article img {
    width:100%;
    height:100%;

}
.articuloDiseno article h3 {
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #0d656d;
    margin:10px;
    
}
.articuloDiseno article span a{
    text-transform: uppercase;
}
.articuloDiseno article span a, .articuloDiseno article p {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.8rem;
    text-align: justify;
    width: 100%;
    letter-spacing: 0.5px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.articuloDiseno article span a {
    color: #474747;
}
.articuloDiseno article p{
    padding:8px;
}
hr {
    height: 1px;
    width: 70%;
    background-color: #474747;
    border: none;
}
}

/* INDEx media 2 */
@media only screen and (min-width: 600px) and (max-width: 1199px)
{
header {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 20vh;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.navegador nav ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    margin-left: 6px;
    margin-right: 6px;
    justify-items: center;
}
.navegador nav ul{
    font-size: 0.9rem;
}
.linkinicio {
    text-decoration: none;
}
header .titulo a h1{
    font-size: 2.5rem
}
header .titulo a h1, .navegador nav ul li,.navegador nav ul li a {
    list-style: none;
    text-decoration: none;
    color: #474747;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imagenfondo {
    display: flex;
    
}
}

/* main */
/* 
main{
    background-color:#FFFFFF;
}
section h2 {
    color: #0d656d;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
section article .disenoTitulo{
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #5DC1B9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin: 15px;
}
section article span a {
    color: #474747;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section article p {
    color: #474747; */

aside article div h4 a{
    text-decoration: none;
    text-transform: uppercase;
    color: #0d656d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
aside article div p{
    color: #474747;
}
footer{
    background-color: #5DC1B9;
    width: 100%;
    height: 150px;
}
footer ul li h4 {
    color:#474747;
    font-weight: 100;
    margin: 10px;

}
/* HISTORIA  */

main .tituloDePagina, .subtituloDePagina {
    text-transform: uppercase;
    color: #EF7F1A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px;
}
section article div p{
    color: #474747;
    text-align: justify;
    font-size: 1rem;
    margin: 15px;
}
div .linkContacto a {
    text-decoration: none;
    text-align: center;
    color: #5DC1B9;
}
 /* CONTACTO  */
section article ul {
    list-style: none;
}
section article ul li {
    color: #5DC1B9;
    font-size: 0.87rem;
    text-transform:uppercase;
    margin: 15px;
}
form div input, .textArea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 0.87rem;
    margin: 15px;
}

/* GALERIA  */
section article .subtitulo {
    text-transform: uppercase;
    color: #474747;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px;
    font-size: 1.5rem;
}
section article .disenoSubtitulo, p{
color: #474747;
font-size: 1rem;
}
section article div a{
    font-size: 1.2;
    text-decoration: none;
    color: #5DC1B9;
}
/* LISTA DE PRECIOS  */
.promo{
color: #474747;
margin: 15px;
}
.clickHere {
    text-decoration: none;
    color: #5DC1B9;
}
section article div table, th {
    background-color: #474747;
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 100;
    letter-spacing: 1px;
}
section article div table{ 
    margin: 15px;
}


