$tipografia-uno: normal 500 1.5rem 'Nunito', sans-serif;
$tipografia-dos: normal 500 1.3rem "DM Serif Display", serif;
$color-uno:#ef7f1a;
$color-dos:#118691;
$color-tres:#5dc1b9;
$color-cuatro:#474747;
$color-cinco:white;
$color-unotransp:#ef7d1a73;
$color-dostransp:#11869180;
$color-cuatrotransp:#47474779;