.footer {

    background-color:$color-dostransp;

    &__tarjeta {

        &__titulo {
            color: $color-cinco;
            font: $tipografia-dos;
        }

        &__contactos {
            color: $color-cinco;
            font: $tipografia-dos;
        }

        &__span {
            color: $color-cinco;
        }

        &__iconos {
            a {
                i {
                    color: white;
                }
            }
            a{
                i:hover{
                    color:$color-uno;
                }
            }
        }
    }
}
