.header {
    margin: 12px;
    .navbar {

        &__contenedor {

            &__barra {

                .navbar__ul {

                    .navbar__ul__li {

                        .nav-link {
                            font: $tipografia-dos;
                            letter-spacing: 1px;
                            color:$color-cuatro;
                        }

                        .nav-link:hover {
                            color:$color-uno;
                        }
                    }
                }
            }
        }
    }
    &__titulo {
        visibility: hidden;
    }
}