.header {
    margin: 12px;
    .navbar {

        &__contenedor {

            &__barra {

                .navbar__ul {

                    .navbar__ul__li {

                        .nav-link {
                            font-weight: 500;
                            font-size: 1.1rem;
                            font-style: bold;
                            letter-spacing: 1px;
                            color: black;
                        }

                        .nav-link:hover {
                            color: gray;
                        }
                    }
                }
            }
        }
    }
    &__titulo {
        visibility: hidden;
    }
}