* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: $color-cuatro;
}

.subtitulo {
    color: $color-cinco;
    font: $tipografia-dos;
    letter-spacing: 2px;
    background-color: $color-dostransp;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.subtitulo-seccion {
    color: $color-dos;
    font: $tipografia-dos;
}

.main {
    &__seccion {
        .articulo {
            .articulo {
                &__info {
                    .info__ul {
                        list-style: none;
                    }
                }
            }
        }
    }
}

