node-modules/*
pruebas/*
 <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-pause="“false”">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col carrusel">
                        <img src="./images/samsung.png" class="d-block w-10" alt="Logo de samsung">
                    </div>
                    <div class="col carrusel">
                        <img src="./images/iphone.png" class="d-block w-10" alt="Logo de iphone">
                    </div>
                    <div class="col carrusel">
                        <img src="./images/lg.png" class="d-block w-10" alt="Logo de lg">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col carrusel">
                        <img src="./images/xiaomi.png" class="d-block w-10" alt="Logo de xiaomi">
                    </div>
                    <div class="col carrusel">
                        <img src="./images/huawei.png" class="d-block w-10" alt="Logo de huawei">
                    </div>
                    <div class="col carrusel">
                        <img src="./images/motorola.png" class="d-block w-10" alt="Logo de motorola">
                    </div>
                </div>
            </div>
        </div>
    </div>
       